{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Password Rest
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <span class="fs-3 text-primary">Password was saved successfully! </span>
    </div>
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
            <span> Qayta accountga kirish uchun </span>
          <form action="{% url 'logout ' %} " method="POST" >
              <button type="submit" class="btn btn-primary"> Logout</button>
          </form>
            <span> bosing! </span>
        </div>
    </div>
</div>
{% endblock %}